.linkedIn {
  background: linear-gradient(to right, rgb(99, 82, 255), rgb(0, 183, 255));
  border-radius: 15px;
  width: 14vw;
}
.instagram {
  background: linear-gradient(to right,#833ab4, #C13584);
  border-radius: 15px;
  width: 14vw;
}
