.linkedIn {
  background: linear-gradient(to right, rgb(40, 30, 137), rgb(6, 147, 255));
  border-radius: 15px;
  width: 14vw;
}
.instagram {
  background: linear-gradient(to right,#36005a, #ff00d074);
  border-radius: 15px;
  width: 14vw;
}
.github{
  background: linear-gradient(to right,#6564642c, #000000);
  border-radius: 15px;
  width: 14vw;
}
.twitter{
  background: linear-gradient(to right,#4f4d4db3, #000000);
  border-radius: 15px;
  width: 14vw;
}